body {
    font-family: "Press Start 2P", system-ui;
    background-color: black;
    text-align: center;
    color: rgb(236, 236, 236);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #131313;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    font-family: "Press Start 2P", system-ui;

}

#joke {
    font-size: 1.2em;
    margin: 20px 0;
    font-family: "Pixelify Sans", sans-serif;

}

button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Pixelify Sans", sans-serif;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

#score {
    font-size: 1.5em;
    font-weight: bold;
}
